<div 
    *ngIf="personExpenses" class="persons-expense" 
    (mouseenter)='isHovered=true'
    (mouseleave)='isHovered=false'
  >
  <span class="person-name">{{personExpenses!.personName}}:</span>
  <span class="expense-entry">
    <div *ngFor="let expense of personExpenses!.expenses">
      <expense-tag 
        [expense]="expense"
        (onExpenseDelete)="deleteExpense($event)"
      ></expense-tag>
    </div>
    <div *ngIf="isHovered" class="add-expense" (click)="addExpense()">+</div>
  </span>
</div>
<br>