.expense-info {
  border-right: 1.5px solid;
  border-top: 1.5px solid;
  border-bottom: 1.5px solid;
  background-color: #EBBCBC;
  padding: 5px 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-right: 2px;
}

.expense-entries {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  align-items: center;
  row-gap: 25px;
  transform: translateY(-5px);
}

.persons-expense {
  display: flex;
  margin-bottom: 20px;
}

.person-name {
  padding-right: 5px;
  font-size: large;
  transform: translateY(-2px);
}

.pl-15 {
  padding-left: 15px;
}

.comma {
  position: relative;
  bottom: -6px;
  padding-left: 2px;
}

.add-expense {
  box-sizing: border-box;
  border: 1.5px black solid;
  padding: 0px 6px;
  border-radius: 8px;
  color: #8E8E8E;
  cursor: pointer;
}

.add-expense:hover {
  box-shadow: 2px 2px 0px grey;
}

// dark mode styles
.add-expense {
  box-shadow: var(--dark-shadow-color) 0px 3px;
  border-color: var(--dark-border-color);
}

.reorder-icon {
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
  height: min-content;
}

.hidden {
  visibility: hidden;
}


.translate-down {
  transform: translateY(3px);
}