<div style="position: relative;"
    (mouseenter)='isHovered=true'
    (mouseleave)='isHovered=false'
>
<div *ngIf="person" class="persons-expense">
  <div class="fas fa-bars reorder-icon" [ngClass]="{'hidden': !isHovered}"
    contextMenuDir [items]="contextMenuItems"
  ></div>
  <span 
    class="person-name" 
    content-editable 
    placeholder="person name" 
    [(input)]="person.personName"
  > </span>: &nbsp;
  <span class="expense-entry">
    <div *ngFor="let expense of person!.personExpense">
      <expense-tag 
        [expense]="expense"
        (onExpenseDelete)="deleteExpense($event)"
        (onValueChange)="refreshExpense()"
      ></expense-tag>
    </div>
    <div *ngIf="isHovered" class="add-expense" (click)="addExpense()">+</div>
  </span>
</div>
<br>