<h3 class="text-light d-flex justify-content-center mt-5">Login</h3>
<div class="d-flex flex-column align-items-center m-5">
  <form [formGroup]="form" (ngSubmit)="login();">
    <div>
        <!-- email field -->
        <input class="d-block" formControlName="email"  type="email" name="email" id="email" placeholder="Email" required>
        <validation-error 
          [field]="form.controls['email']" 
          [errorMessages]='[
            {type: "required", msg: "Email is required"},
            {type: "email", msg: "Invalid email format"}
          ]'
        ></validation-error>
        <div *ngIf="showError" class="error-text text-danger d-flex justify-content-start align-items-center">Email or password is incorrect</div>

        <!-- password field -->
        <input formControlName="password" type="password" name="password" id="password" placeholder="Password" required>
        <validation-error
          [field]="form.controls['password']"
          [errorMessages]='[ 
            {type: "required", msg: "Password is required"} 
          ]'
        ></validation-error>

        <div class="submit-button mt-4 size cursor-pointer" (click)="login();"> 
          <i *ngIf="isAuthenticating" class="p-3 fas fa-circle-notch fa-spin"></i> 
          <div [ngClass]="{'mr-5': isAuthenticating}">Login</div>
        </div>
        <!-- registration link -->
        <div class="mt-4 text-center">Don't have account yet? <a [routerLink]="['/signup']">signup!</a></div>
    </div>
  </form>
</div>
