<div class="dynamic-width">
  <div class="card">
    <div class="card-heading"> 
      <div class="card-title">
        <div style="padding-left: 10px;">Expense History</div>
      </div>    
      <div class="border" *ngIf="!isDataLoading"> Total : {{total | currency: 'IN':''}} /- </div>
    </div>
    <hr>
    <div class="card-body">
      <ng-container *ngIf="!isDataLoading">
        <person-expenses 
          *ngFor="let people_expenses of people_expenses_lists" 
          [person]="people_expenses"
          (onTotalExpenseChange)="refreshExpense()"
          (onPersonDelete)="deletePerson($event)"
        ></person-expenses>
        <button class="add-person" (click)="addExpense()">Add Person + </button>
      </ng-container>
    </div>
  </div>
</div>


