<div class="relative">
  <span class="expense-tag" (mouseenter)="isHovered=true" (mouseleave)="isHovered=false">
    <span class="expense-money left-round">
      <span 
        content-editable 
        placeholder="money"
        type="number" 
        class="d-inline-block"
        [(input)]="expense.money" 
        (inputChange)="onValueChange.emit(expense)"
      ></span> ₹ </span>
    <span 
      content-editable 
      placeholder="tag"
      (blur)="onBlur.emit()"
      class="expense-info right-round" 
      [(input)]="expense.tag" (inputChange)="onValueChange.emit(expense)"
    ></span> &nbsp;
    <div *ngIf="isHovered" class="delete-expense" (click)="onExpenseDelete.emit(expense._id)">
      <i class="fas fa-times"></i>
    </div>
  </span> 
</div>