.relative {
  position: relative;
}

.expense-money {
  border: 1px solid;
  padding: 7px 10px;
  
  box-shadow: 0px 5px 10px #dedede;
  border-color: rgba(0,0,0,0.125);
}

.left-round {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.right-round {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.expense-info {
  border-right: 1.5px solid;
  border-top: 1.5px solid;
  border-bottom: 1.5px solid;
  // background-color: #EBBCBC;
  padding: 7px 10px;
  margin-right: 2px;
  box-shadow: 0px 5px 10px #dedede;
  border-color: rgba(0,0,0,0.125);
}

input {
  /* display: none; */
  font-size: 17px;
  font-weight: 500;
  width: 4ch;
}

input:focus {
  outline: none;
}

.visible-on-hover {
  display: none;
}

.visible-on-hover:hover {
  display: block;
}

.delete-expense {
  position: absolute;
  top: -33px;
  right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-icon {
  background-color: white;
  border-radius: 5px;
  padding: 2px 0px;
}