@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';


body {
  font-family: 'inter';
  width: 100%;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.dark-bg {
  background-color: rgba(0,0,0,0.03);
}

.dark-border {
  border-color: rgba(0,0,0,0.125);
}


// dark mode styles

:root {
  --dark-background-color: rgb(13, 17, 23);
  --dark-background-color1: rgba(70, 90, 126, 0.4);
  --dark-text-color: rgb(230, 237, 243);
  --dark-border-color: rgb(48, 54, 61);
  --dark-border-color1: rgba(0,0,0,0.125);
  --dark-shadow-color: rgb(1, 4, 9);
  --dark-background-color1: rgb(22, 27, 34);
  --dark-icon-color:  rgb(125, 133, 144);
}

body {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
}

hr {
  border-color: var(--dark-border-color);
}

.fas {
  color: var(--dark-icon-color);
}

.cursor-pointer {
  cursor: pointer;
}


// placeholder style for content editable

[placeholder]:empty::before {
  content: attr(placeholder);
  color: #555; 
  cursor: text;
}
