@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

body {
  font-family: 'inter';
  width: 100%;
}

[contenteditable] {
  outline: 0px solid transparent;
}


@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';

@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);


.light-bg {
  background-color: rgba(0,0,0,0.03);
}

.light-border {
  border-color: rgba(0,0,0,0.125);
}