<div class="title d-flex align-items-center justify-content-between">
  <div>Expense Tracker</div>
  <div class="d-flex align-items-center">
    <div *ngIf="expense?.personExpenses" class="header-button cursor-pointer user-select-none" (click)="copyExpenseHistory()">
      <i class="sm fas fa-copy"></i> copy expense 
    </div>
    <div class="menu">
      <div class="header-button cursor-pointer user-select-none" (click)="menuOpen = !menuOpen; cdr.detectChanges()">
         {{monthShortNames[month]}} {{year}} 
        <i class="sm fas fa-light" [class]="menuOpen ? 'fa-chevron-up': 'fa-chevron-down'"></i>
      </div>
      <div class="submenu" *ngIf="menuOpen"> 
        <monthpicker 
          [month]="month" 
          [(year)]="year" 
          (onClickOutside)="menuOpen = !menuOpen" 
          (change)="month = $event.monthIndex; onMonthSelect()"
        ></monthpicker> 
      </div>
    </div>
    <div class="header-button cursor-pointer" (click)="logout()">logout</div>
  </div>
</div>
<div class="hr"></div>
<br><br>
<div *ngIf="!isDataLoading else loadingDataTemplate">
  <expense-history 
    *ngIf="expense?.personExpenses"
    [people_expenses_lists]="expense?.personExpenses" 
    [isDataLoading]="expense==undefined || expense==null"
  ></expense-history>

  <div class="center" *ngIf="!expense?.personExpenses">
    <div id="add-expense-button" (click)='createExpense()'>Create Expense</div>
    <div class="info-text">Expense does not exist for this month, click the button above to create it</div>
  </div>
</div>
<ng-template #loadingDataTemplate>
  <div class="center">
    Loading expense...
  </div>
</ng-template>

<br><br><br><br><br>
